In [1]:
import json
import requests
import pandas as pd
import datetime
import numpy as np
from tmdbv3api import TMDb
from tmdbv3api import Movie
from imdb import IMDb
from imdb import Cinemagoer

In [2]:
movies=pd.read_csv("CSV/2008-2021.csv")

In [3]:
display(movies)

,Release_Date,Title,Production company,Cast and crew,Genre
0,2-Jan-08,The Killing of John Lennon,IFC First Take,Andrew Piddington (director/screenplay); Jonas...,"Crime, Drama"
1,4-Jan-08,One Missed Call,Warner Bros. Pictures / Alcon Entertainment / ...,Eric Valette (director); Andrew Klavan (screen...,Horror
2,4-Jan-08,A Bloody Aria,ImaginAsian,Won Shin-yun (director/screenplay); Han Suk-ky...,Black comedy
3,9-Jan-08,The Business of Being Born,Red Envelope Entertainment / New Line Home Ent...,Abby Epstein (director),Documentary
4,11-Jan-08,First Sunday,Screen Gems / Cube Vision,David E. Talbert (director/screenplay); Ice Cu...,Comedy
...,...,...,...,...,...
4235,22-Dec-21,The King's Man,20th Century Studios / Marv Studios / TSG Ente...,Matthew Vaughn (director/screenplay); Karl Gaj...,NaN
4236,25-Dec-21,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,NaN
4237,25-Dec-21,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,NaN
4238,25-Dec-21,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",NaN
4239,26-Dec-21,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,NaN

In [4]:
movies['Release_Date']=pd.to_datetime(movies['Release_Date'], errors='coerce')
movies['year']=movies['Release_Date'].dt.year

In [5]:
movies['year'].value_counts().sort_index()

2006    178
2007    249
2008    274
2009    407
2010    354
2011    248
2012    277
2013    285
2014    219
2015    192
2016    168
2017    243
2018    272
2019    242
2020    275
2021    357
Name: year, dtype: int64

In [6]:
movies['Genre'].isna().sum()

3305

In [7]:
from tmdbv3api import Movie
import requests
import numpy as np
tmdb = TMDb()
tmdb_movie = Movie()

tmdb.api_key = '' # Replace with your actual API key

# def get_genre(x):
#     genres = []
#     result = tmdb_movie.search(x)
    
#     if result['results']:
#         movie_id = result['results'][0]['id']  # Access the 'id' key from the first movie in the 'results' list
#         response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id, tmdb.api_key))
# #         print(response.content)
#         data_json = response.json()
        
#         if data_json['genres']:
#             genres = [genre['name'] for genre in data_json['genres']]
#             return ", ".join(genres)
#     return np.NaN
def get_genre(x):
    try:
        genres = []
        result = tmdb_movie.search(x)
        
        if result['results']:
            movie_id = result['results'][0]['id']
            response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id, tmdb.api_key))
            
            # Check if the request was successful (status_code 200)
            if response.status_code == 200:
                data_json = response.json()
                
                # Check if 'genres' is present in the JSON response
                if 'genres' in data_json:
                    genres = [genre['name'] for genre in data_json['genres']]
                    return ", ".join(genres)
                
        return np.NaN

    except Exception as e:
        print(f"Error: {str(e)}")
        return np.NaN

# get_genre("One Missed Call")

In [8]:
movies['genres'] = movies['Title'].map(lambda x: get_genre(str(x)))

Error: Expecting value: line 1 column 1 (char 0)

In [9]:
display(movies)

,Release_Date,Title,Production company,Cast and crew,Genre,year,genres
0,2008-01-02,The Killing of John Lennon,IFC First Take,Andrew Piddington (director/screenplay); Jonas...,"Crime, Drama",2008,"Crime, Drama"
1,2008-01-04,One Missed Call,Warner Bros. Pictures / Alcon Entertainment / ...,Eric Valette (director); Andrew Klavan (screen...,Horror,2008,"Horror, Mystery, Thriller"
2,2008-01-04,A Bloody Aria,ImaginAsian,Won Shin-yun (director/screenplay); Han Suk-ky...,Black comedy,2008,"Thriller, Action, Horror, Comedy"
3,2008-01-09,The Business of Being Born,Red Envelope Entertainment / New Line Home Ent...,Abby Epstein (director),Documentary,2008,Documentary
4,2008-01-11,First Sunday,Screen Gems / Cube Vision,David E. Talbert (director/screenplay); Ice Cu...,Comedy,2008,"Comedy, Action"
...,...,...,...,...,...,...,...
4235,2021-12-22,The King's Man,20th Century Studios / Marv Studios / TSG Ente...,Matthew Vaughn (director/screenplay); Karl Gaj...,NaN,2021,"Action, Adventure, Thriller"
4236,2021-12-25,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,NaN,2021,"Drama, War"
4237,2021-12-25,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,NaN,2021,"Drama, Romance"
4238,2021-12-25,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",NaN,2021,Drama
4239,2021-12-26,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,NaN,2021,"Drama, Science Fiction, Mystery"

In [10]:
movies.drop('Genre', axis=1, inplace=True)

In [11]:
movies['genres'].isna().sum()

34

In [12]:
movies.columns

Index(['Release_Date', 'Title', 'Production company', 'Cast and crew', 'year',
       'genres'],
      dtype='object')

In [13]:
movies=movies.dropna(how='any')

In [15]:
print(movies['Cast and crew'][3])
a=movies['Cast and crew'][3]

Abby Epstein (director)

In [16]:
#Extract the director from the cast and crew dictionary
def extract_director(s):
    if "(director)" in s:
        return s.split("(director)")[0]
    elif "(director/screenplay)" in s:
        return s.split("(director/screenplay)")[0] 
    elif "(directors)" in s:
        return s.split("(directors)")[0]

In [17]:
movies['director_name']=movies['Cast and crew'].map(lambda x:extract_director(x))

In [18]:
#Extract the actor 1,2 and 3 from the cast and crew dictionary
def extract_actor1(s):
    
    if "screenplay); " in s:
        return ((s.split("screenplay); ")[-1]).split(", ")[0])
    else:
        return "unknown"

In [19]:
movies['actor_1_name']=movies['Cast and crew'].map(lambda x:extract_actor1(x))

In [20]:
def extract_actor2and3(x,i):
    if len((x.split("screenplay); ")[-1]).split(", ")) < i:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[i-1])

In [21]:
movies['actor_2_name']=movies['Cast and crew'].map(lambda x:extract_actor2and3(x,2))

In [22]:
movies['actor_3_name']=movies['Cast and crew'].map(lambda x:extract_actor2and3(x,3))

In [23]:
movies = movies.rename(columns={'Title': 'movie_title'})
movies['movie_title']=movies['movie_title'].str.lower()

In [24]:
new_data = movies.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [25]:
display(new_data)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Andrew Piddington,Jonas Ball,Krisha Fairchild,Gunter Stern,"Crime, Drama",the killing of john lennon
1,Eric Valette,Shannyn Sossamon,Edward Burns,Ana Claudia TalancÃ³n,"Horror, Mystery, Thriller",one missed call
2,Won Shin-yun,Han Suk-kyu,Lee Moon-sik,Oh Dal-su,"Thriller, Action, Horror, Comedy",a bloody aria
3,Abby Epstein,unknown,NaN,NaN,Documentary,the business of being born
4,David E. Talbert,Ice Cube,Katt Williams,Tracy Morgan,"Comedy, Action",first sunday
...,...,...,...,...,...,...
4235,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,"Action, Adventure, Thriller",the king's man
4236,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,"Drama, War",the tragedy of macbeth
4237,Denzel Washington,Michael B. Jordan,ChantÃ© Adams,Jalon Christian,"Drama, Romance",a journal for jordan
4238,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog
4239,None,unknown,Elkin DÃ­az,Jeanne Balibar,"Drama, Science Fiction, Mystery",memoria

In [26]:
new_data['actor_2_name'] = new_data['actor_2_name'].replace(np.nan, 'unknown')
new_data['actor_3_name'] = new_data['actor_3_name'].replace(np.nan, 'unknown')

In [27]:
new_data=new_data.dropna(how="any")

In [28]:
new_data.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
dtype: int64

In [29]:
new_data['comb'] = new_data['actor_1_name'] + ' ' + new_data['actor_2_name'] + ' '+ new_data['actor_3_name'] + ' '+ new_data['director_name'] +' '+new_data['genres']

In [30]:
display(new_data)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Andrew Piddington,Jonas Ball,Krisha Fairchild,Gunter Stern,"Crime, Drama",the killing of john lennon,Jonas Ball Krisha Fairchild Gunter Stern Andre...
1,Eric Valette,Shannyn Sossamon,Edward Burns,Ana Claudia TalancÃ³n,"Horror, Mystery, Thriller",one missed call,Shannyn Sossamon Edward Burns Ana Claudia Tala...
2,Won Shin-yun,Han Suk-kyu,Lee Moon-sik,Oh Dal-su,"Thriller, Action, Horror, Comedy",a bloody aria,Han Suk-kyu Lee Moon-sik Oh Dal-su Won Shin-yu...
3,Abby Epstein,unknown,unknown,unknown,Documentary,the business of being born,unknown unknown unknown Abby Epstein Documentary
4,David E. Talbert,Ice Cube,Katt Williams,Tracy Morgan,"Comedy, Action",first sunday,Ice Cube Katt Williams Tracy Morgan David E. T...
...,...,...,...,...,...,...,...
4234,Lana Wachowski,Keanu Reeves,Carrie-Anne Moss,Yahya Abdul-Mateen II,"Science Fiction, Action, Adventure",the matrix resurrections,Keanu Reeves Carrie-Anne Moss Yahya Abdul-Mate...
4235,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,"Action, Adventure, Thriller",the king's man,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
4236,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,"Drama, War",the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
4237,Denzel Washington,Michael B. Jordan,ChantÃ© Adams,Jalon Christian,"Drama, Romance",a journal for jordan,Michael B. Jordan ChantÃ© Adams Jalon Christian...
4238,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...

In [31]:
old_movie=pd.read_csv('movies_from1816to2017.csv')
old_movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [32]:
#combine the data with old data to increase the dataset
final_data=old_movie.append(new_data,ignore_index=True)

In [33]:
final_data.isna().sum()
final_data.shape[0]

40765

In [34]:
#After combining the dataset ,remove the same movie names or movie data from the combined data.
final_data.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [35]:
final_data.shape[0]

38120

In [36]:
final_data.to_csv("moives_1816to2021.csv",index="False")